@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0; 
  padding: 0; 
}

#headBar {
  background-color: #315a94;
  min-width: 100%;
    
}
#headBarContext{
  margin: 0px 120px ;
  padding-bottom: 60px;
}
.topHeadBar {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  margin: 0px 60px 60px 60px;
}
#topHeadBarLinks {
  display: flex;
  gap: 28px;
  align-content: flex-end;
  color: #f9faf8;
}
#hHeadBar {
  color: #f9faf8;
  font-size: 48px;
}
#pHeadBar {
 
  font-size: 18px;
  font-weight: 900;
  color: #e5e7eb;
}
#btHeadBar {
  display: flex;
  font-size: 24px;
  background-color: rgb(112, 161, 216);
  color: white;
  padding: 5px 30px;
  border-radius: 1rem;
}
#imgheadbar {
  width: 600px;
  height: 200px;
}
.mainText {
  display: flex;
  flex-direction: row;
}
.mainScript {
  display: flex;
  flex-direction: column;
}
