@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#headBar {
  background-color: #315a94;
  min-width: 100%;
}
.topHeadBar {
  display: flex;
  justify-content: space-between;
  /* align-items:flex-start; */
  color: #f9faf8;
  margin: 0px 60px;
}
#topHeadBarLinks {
  display: flex;
  gap: 28px;
  align-content: flex-end;
  color: #f9faf8;
}
#hHeadBar {
  /* display: flex; */
  /* justify-content: flex-start; */
  color: #f9faf8;
  margin: 0px 60px;
  font-size: 48px;
}
#pHeadBar {
  /* display: flex; */
  /* justify-content: flex-start; */
  font-size: 18px;
  font-weight: 900;
  color: #e5e7eb;
  margin: 0px 60px;
}
#btHeadBar {
  display: flex;
  margin: 0px 60px;
  font-size: 24px;
  background-color: rgb(112, 161, 216);
  color: white;
  padding: 5px 30px;
  border-radius: 1rem;
}
#imgheadbar {
  width: 400px;
  height: 200px;
  margin: 0px 60px;
}
.mainText {
  display: flex;
  flex-direction: row;
}
.mainScript {
  flex: 1; /* Takes available space */
  display: flex;
  flex-direction: column;
  gap: 12px;
}
